################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlayEconomySystem/.vs/PlayEconomySystem/FileContentIndex/ca4e6dc5-dd5c-45d2-a9e5-4191aa740d69.vsidx
/PlayEconomySystem/.vs/PlayEconomySystem/FileContentIndex/e3a52271-4450-40f8-97cd-912efd8ff358.vsidx
/PlayEconomySystem/.vs/PlayEconomySystem/FileContentIndex/60f2f590-aa30-492b-af9a-3932347bf7f8.vsidx
/PlayEconomySystem/.vs/PlayEconomySystem/FileContentIndex/8bd7731e-1d89-4a8e-aea3-5cad2363600e.vsidx
/PlayEconomySystem/.vs/PlayEconomySystem/FileContentIndex/cf46ef29-b52f-4a64-8227-17bdcf6c8191.vsidx
/PlayEconomySystem/.vs/PlayEconomySystem/FileContentIndex/d2cd5801-5b57-4268-b1dc-732f849c63fa.vsidx
/PlayEconomySystem/.vs/PlayEconomySystem/FileContentIndex/fc44a841-539f-4399-b963-d62388ad18c4.vsidx
/PlayEconomySystem/.vs/PlayEconomySystem/FileContentIndex/015cec35-dc6e-473c-aeb0-9333363b32cc.vsidx
/PlayEconomySystem/.vs/PlayEconomySystem/FileContentIndex/1ecf6435-0ecd-4454-a664-28be0040d03c.vsidx
/PlayEconomySystem/.vs/PlayEconomySystem/FileContentIndex/25004d20-9875-4d93-b02c-7f0c231da55d.vsidx
/PlayEconomySystem/.vs/PlayEconomySystem/FileContentIndex/6b2575ab-4439-4ce5-8e6a-3d5797b943d0.vsidx
/PlayEconomySystem/.vs/PlayEconomySystem/FileContentIndex/e6a67c07-177b-4b17-aadd-37acb478f0d3.vsidx
