################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlayEconomySystem/.vs/PlayEconomySystem/FileContentIndex/ca4e6dc5-dd5c-45d2-a9e5-4191aa740d69.vsidx
